<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>local</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <mysql.fitbase.connection.url>jdbc:mysql://localhost:3306/fitbase</mysql.fitbase.connection.url>
                <fitbase.admin.username>admin</fitbase.admin.username>
                <fitbase.admin.password>admin</fitbase.admin.password>
                <fitbase.jwt.auth.header></fitbase.jwt.auth.header>
                <fitbase.jwt.auth.secret></fitbase.jwt.auth.secret>
                <fitbase.jwt.expiration></fitbase.jwt.expiration>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>local</activeProfile>
    </activeProfiles>
</settings>

